<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de campeones :D</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
    <nav>
        <span class="logo"><i class='bx bx-home-heart'></i></span>
        <button class="btn-menu"><i class='bx bx-menu'></i></button>
        <ul class="menu-options">
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('search') }}">Buscar</a></li>
            <li><a href="{{ url_for('orders') }}">Ordenes</a></li>
            <li><a href="{{ url_for('paymentadmin') }}">Producto</a></li>
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <br><br><br><h1>Recomendaciones</h1>
    {% for libro in titulos %}
    <a href="{{ url_for('book', book_id = libro.codigo)}}"><div class="Publicacion">
        <p>Titulo: {{ libro.titulo }}</p>
        <p>Autor: {{ libro.autor }}</p>
        <p>Genero: {{ libro.genero }}</p>
        <p>Año de publicacion: {{ libro.fecha_publicacion }}</p>
        <p>Precio: ${{ libro.precio_unitario }}</p>
    </div><br></a>
    {% endfor %}
</body>
</html>