<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReadThings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>ReadThings</h1>
        <p>Leo, luego existo</p>
    </div>
    <div class="formulario">
        <form action="{{ url_for('login') }}" method="post"></br></br>
            <input id="username" name="username" type="text" placeholder="Nombre de usuario" class="textbox"/></br></br>
            <input id="password" name="password" type="password" placeholder="Contraseña" class="textbox"/></br></br></br>
            <input type="submit" class="btn" value="Iniciar sesion"></br></br>
        </form>
        <div class="msg">{{ msg }}</div></br></br>
        <p class="bottom">¿No tienes cuenta? <a href="">Haz click aqui</a></p>
    </div>
</body>
</html>