<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
<nav>
    <span class="logo"><i class='bx bx-home-heart'></i></span>
    <button class="btn-menu"><i class='bx bx-menu'></i></button>
    <ul class="menu-options">
        <li><a href="{{ url_for('home') }}">Inicio</a></li>
        <li><a href="{{ url_for('search') }}">Buscar</a></li>
        <li><a href="{{ url_for('orders') }}">Ordenes</a></li>
        <li><a href="{{ url_for('profile') }}">Perfil</a></li>
        <li><a href="{{ url_for('logout') }}">Cerrar Sesion</a></li>
    </ul>
</nav><br><br><br>
<h1>Ordenes</h1>
{% for venta in ventas %}
    <div class="Publicacion">
        <p>No. Orden: {{ venta.no_venta }}</p>
        <p>Titulo: {{ venta.titulo }}</p>
        <p>Fecha de orden: {{ venta.fecha_venta }}</p>
        <p>Cantidad: {{ venta.cantidad }}</p>
        <p>Total: ${{ venta.total }}</p>
        <br><p>Metodo de pago: {{ venta.metodo_pago }}</p>
        <p>Envio por: {{ venta.envio }}</p>
        <p>Estado de envio: {{ venta.estado_envio }}</p>
    </div><br>
{% endfor %}
</body>
</html>