<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
<nav>
    <span class="logo"><i class='bx bx-home-heart'></i></span>
    <button class="btn-menu"><i class='bx bx-menu'></i></button>
    <ul class="menu-options">
        <li><a href="{{ url_for('menu') }}">Inicio</a></li>
        <li>Buscar</a></li>
        <li>Carrito</a></li>
        <li>Perfil</a></li>
        <li><a href="{{ url_for('logout') }}">Cerrar Sesion</a></li>
    </ul>
</nav>
</body>
</html>